<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Home page</title>
  
  
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Dosis'>

      <link rel="stylesheet" href="../public/stylesheets/style.css">

  
</head>

<body>
  <div id="menu-container">
   <div id="menu-wrapper">
      <div id="hamburger-menu"><span></span><span></span><span></span></div>
      <!-- hamburger-menu -->
   </div>
   <!-- menu-wrapper -->
   <ul class="menu-list accordion">
      <li id="nav1" class="toggle accordion-toggle"> 
         <span class="icon-plus"></span>
         <a class="menu-link" href="#">List of users</a>
      </li>
      <!-- accordion-toggle -->
      <ul class="menu-submenu accordion-content">
         <li><a class="head" href="#">Show users</a></li>
      </ul>
      <!-- menu-submenu accordon-content-->
      <li id="nav2" class="toggle accordion-toggle"> 
         <span class="icon-plus"></span>
         <a class="menu-link" href="#">List of photos</a>
      </li>
      <!-- accordion-toggle -->
      <ul class="menu-submenu accordion-content">
         <li><a class="head" href="#">Show photos</a></li>
      </ul>
	  <!-- menu-submenu accordon-content-->
      <li id="nav2" class="toggle accordion-toggle"> 
         <span class="icon-plus"></span>
         <a class="menu-link" href="#">List of photos by user</a>
      </li>
      <!-- accordion-toggle -->
      <ul class="menu-submenu accordion-content">
         <li><a class="head" href="#">Show photos by user</a></li>
      </ul>
      
   </ul>
   <!-- menu-list accordion-->
</div>
<div id="root">


</div>


<!-- menu-container -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <script src="../public/javascripts/menu.js"></script>

</body>
</html>
